.navbar_container {
  display: flex;
  background-color: #9f9a9a;
  width: 100%;
  padding: 20px 40px;
  justify-content: space-between;
  color: #ffffff;

  .navbar_items__wrapper {
    display: flex;
    list-style: none;

    .navbar_item {
      padding: 5px;
      border: 1px solid red;
    }
  }
}